@import "../mixins.scss";

.aside-menu {
  position: fixed;
  width: 20%;
  height: 100%;
  border-right: 1px solid #e4e4e4;

  @include phone {
    position: static;
    display: flex;
    width: 100vw;
  }

  .aside-menu-logo-img {
    margin: 30px;

    @include phone {
      width: 100px;
    }
  }

  .aside-menu-content {
    @include phone {
      display: none !important;
    }

    .aside-menu-item-text {
      color: #797979;
      font-size: 20px;
      text-decoration: none;

      &:hover {
        color: #8752a0;
      }
    }

    .aside-menu-footer {
      position: absolute;
      bottom: 0;

      .aside-menu-footer-text {
        color: #797979;
        text-transform: uppercase;
      }
    }
  }

  .sidebar {
    display: none;

    &.active {
      display: none;

      @include phone {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }

    .burger-item {
      text-decoration: none;
      color: #797979;
      display: block;
      text-align: center;
      white-space: nowrap;
      -webkit-writing-mode: vertical-lr;
      writing-mode: vertical-lr;
    }
  }

  .toggle {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: url("/src/assets/Img/menu.png");
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;

    @include phone {
      display: flex;
    }

    &.active {
      background-image: url("/src/assets/Img/close.png");
    }
  }
}
